$bg-light: #f5f9fe;
$bg-dark: #353536;

$primary-color: #2196f3;
$second-color: #1d365e;

$gray-dark: #1d365e;
$gray-light: #656774;

$header-height: 90px;
$header-height-shrink: 60px;

$btn-bg-primary: linear-gradient(120deg, #60a4f4, #2a73dd);
