.product {
  padding: 100px 0;
  background-color: $bg-light;
  &-heading {
    text-align: center;
    margin-bottom: 70px;
    font-size: 3.15rem;
    font-weight: 700;
    color: $gray-dark;
    letter-spacing: 0.21rem;
  }
  &-item {
    box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
    background-color: #f5f9fe;
    border: none;
    padding: 30px;
    margin-bottom: 30px;
    img {
      box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }
  &-body {
    padding: 0 1.6rem;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  &-title,
  &-price {
    font-size: 2rem;
    font-weight: 700;
    color: $gray-dark;
  }
  &-location {
    font-size: 1.4rem;
    font-weight: 400;
    color: $gray-dark;
    margin-bottom: 8px;
  }
  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product-rate {
      font-size: 1.3rem;
      color: yellow;
    }
    .product-buy {
      background: #f5f9fe;
      padding: 8px 20px;
      border: none;
      border-radius: 4px;
      letter-spacing: 0.03rem;
      font-size: 10px;
      font-weight: 600;
      color: $primary-color;
      box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
      transition: 0.5s;
    }
  }
}
